body {
  background-color: #AFAFAF;
  }

body .wrapper {
  max-width: 150ch;
  margin: 0 auto;

  background-color: white;
  }

h1, h2 {
  color: #117065;
  }

nav {
  display: flex;
  flex: auto;
  }

nav a {
  width: 100vw;
  font-size: 25px;

  display: block;
  text-decoration: none;
  text-align: center;

  border: 1px solid black;
  padding: 0.5em;

  color: #fff;
  background-image: linear-gradient(#D8414B,#6B2025);
  }

nav a:hover {
  background-image: linear-gradient(#7FBEAB,#0D5149);
  }

.active {
  background-image: linear-gradient(#6B2025,#601D21);
  }

main {
  width: auto;
  height: auto;

  padding: 2em 8em;
  
  justify-content: center;
  }

ul {
  list-style: none;
  padding: 0;
  }  

li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;

  color: #117065;
  }  

.center {
  text-align: center;
  }

footer {
  position: relative;
  height: auto;

  display: flex;
  justify-content: center;
  text-align: center;
  
  color: #fff;
  background-image: linear-gradient(#D8414B,#6B2025);
  }